@using EntityLayer.Concrete

<button type="button" class="btn btn-warning mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal">Yeni Ürün Kategori Ekle</button>

<div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Ürün Kategori Ekle</h1>
            </div>
            <form asp-controller="ProductCategory" asp-action="AddProductCategory" method="post">
                <div class="modal-body">
                    <div class="col mb-2">
                        <text>Ürün Kategori Adı</text>
                        <input type="text" class="form-control" name="ProductCategoryName" />
                    </div>
                    <div class="col">
                        <text>Kategori</text>
                        <select name="CategoryId" class="form-select">
                            @foreach (var item in ViewBag.category as List<Category>)
                            {
                                <option value="@item.CategoryId">@item.CategoryName</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>